@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

:root{
    font-size: 16px;
}

.main{
    font-family: "Catamaran", sans-serif;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
}

.row{
    justify-content: center;
}

.intro{
    font-size: 3rem;
    padding: 1rem;
    height: 100vh;
}

.intro-summary{
    margin: .5em 0;
    min-width: 312px;
    
}

.intro-summary_greet{
    font-size: .4em;
}

.name{
    color: var(--main-color);
}

.role{
    background: #7DC3E5;
    background: linear-gradient(to right, #7DC3E5 21%, #F1962E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.intro-summary p{
    margin: 0;
	padding: 0;
	border: 0;
    line-height: 1;
}

.intro-summary_socials .row{
    font-size: 2rem;
    margin: .2em 0;
    justify-content: space-between;
}

.intro-image{
    min-width: 336px;
}

.intro-image img{
    width: 100%;
    border-radius: .5rem;
    box-shadow: -14px 10px 5px 0px rgba(0,0,0,0.75);
}

.icon{
    color: var(--main-color);
    cursor: pointer;
}

.btn{
    font-weight: 500;
    background-color: var(--secondary-color);
}

/***
 About
***/

.about{
    font-size: 1.5rem;
    padding: 1em 0;
    background: linear-gradient(var(--main-color), white);
    height: 500px;
    border-radius: .8em .8em 0 0 ;
}

.about-summary p{
    font-size: 1em;
    font-weight: 400;
    margin-top: 3em;
    padding: 0;
    border: 0;
    line-height: 1;
}

/***
    contact
***/


/* .contact{
    height: ;
}
 */

@media (min-width: 1200px) {
    .intro{
        font-size: 4.5rem;
        padding: 2.4rem;
    }

    .intro-summary{
        margin: 1.9em 0;
        min-width: 312px; 
    }

    .intro-summary_greet{
        font-size: .5em;
    }

    .intro-summary_socials .row{
        justify-content: start;
    }

    /***
        About
    ***/

    .about{
        font-size: 2rem;
        padding: 1em 0;
    }

    .about-summary p{
        font-size: 1em;
        text-align: center;
        margin-top: 6rem;
	    padding: 0;
	    border: 0;
        line-height: 1;
    }
    
}

