@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

:root{
    font-size: 16px;
}

.main{
    font-family: "Catamaran", sans-serif;
    font-weight: 700;
    width: 90%;
    margin: 0 auto;
}

.row{
    justify-content: center;
}

.intro{
    font-size: 3rem;
    padding: 1rem;
    height: 100vh;
}

.intro-summary{
    margin: .5em 0;
    min-width: 312px;
    
}

.intro-summary_greet{
    font-size: .4em;
}

.intro-summary_socials .row{
    justify-content: start;
}

.intro-image{
    min-width: 336px;
}

.intro-image img{
    width: 100%;
    border-radius: .5rem;
}

.icon{
    color: var(--main-color);
}

.btn{
    font-weight: 500;
    background-color: var(--secondary-color);
}

@media (min-width: 1200px) {
    .intro{
        font-size: 4.5rem;
        padding: 2.4rem;
    }

    .intro-summary{
        margin: 1em 0;
        min-width: 312px;
        
    }

    .intro-summary_greet{
        font-size: .5em;
    }
    
}

