<div class="main">
    <section class="intro">
        <div class="row">
            <div class="col-6 intro-box intro-summary">
                <p>Hey, My Name Is Al Camara and I am a Software Developer </p>
            </div>
            <div class="col-6 intro-box intro-image">
                <img src="../../../../assets/pictures/al2.jpg" alt="image of Al">
            </div>
        </div>
    </section>
    <section class="about"></section>
    <section class="skills"></section>
    <section class="job-history"></section>
    <section class="contact-me"></section>
</div>