<div class="main">
    <section class="intro">
        <div class="row">
            <div class="col-7 intro-box intro-summary">
                <p class="intro-summary_greet">Hey, my name is</p>
                <p><span class="name">Al Camara.</span></p>
                <p>I am a <span class="role">Software Developer </span></p>
                <div class="intro-summary_socials">
                    <div class="row">
                        <div class="col-2">
                            <i (click)="onSMIClick('Linkedin')" class="bi bi-linkedin icon"></i>
                        </div>
                        <div class="col-2">
                            <i (click)="onSMIClick('X')" class="bi bi-twitter-x icon"></i>
                        </div>
                        <div class="col-2">
                            <i (click)="onSMIClick('Github')" class="bi bi-github icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 intro-box intro-image">
                <img src="../../../../assets/pictures/al2.jpg" alt="image of Al">
            </div>
        </div>
    </section>
    <section class="about">
        <div class="row">
            <div class="about-summary col-10">
                <p>I'm a full stack develop base out of Minneapolis MN. Since 2023, I've enjoy design and building full stack applications</p>
            </div>
        </div>
    </section>
    <section class="skills"></section>
    <section class="job-history"></section>
    <section class="contact-me">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Contact Me!</h3>
                    <p>If you have any questions, proposals, or just to say hello <span>&#128075;&#127998;</span>; </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <mat-form-field appearance="outline">
                        <textarea matInput placeholder="Enter Message"></textarea>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button mat-fab extended type="button">
                        send
                        <mat-icon fontIcon="email"></mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </section>
</div>