<div class="main">
    <section class="intro">
        <div class="row">
            <div class="col-7 intro-box intro-summary">
                <p class="intro-summary_greet">Hey, my name is</p>
                <p><span class="name">Al Camara.</span></p>
                <p>I am a <span class="role">Software Developer </span></p>
                <div class="intro-summary_socials">
                    <div class="row">
                        <div class="col-2">
                            <i (click)="onSMIClick('Linkedin')" class="bi bi-linkedin icon"></i>
                        </div>
                        <div class="col-2">
                            <i (click)="onSMIClick('X')" class="bi bi-twitter-x icon"></i>
                        </div>
                        <div class="col-2">
                            <i (click)="onSMIClick('Github')" class="bi bi-github icon"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 intro-box intro-image">
                <img src="../../../../assets/pictures/al2.jpg" alt="image of Al">
            </div>
        </div>
    </section>
    <section class="about">
        <div class="row">
            <div class="about-summary col-10">
                <p>I'm a full stack develop base out of Minneapolis MN. Since 2023, I've enjoy design and building full stack applications</p>
            </div>
        </div>
    </section>
    <section class="skills">
        <div class="row">
            <div *ngFor="let skill of skillSection" class="col">
                <app-skillcard [skill]="skill"></app-skillcard>
            </div>
        </div>
    </section>
    <section class="job-history">
        <ngx-timeline
            [events]="events"
            [changeSide]="changeSide"
            [enableAnimation]="true"
            [reverseOrder]="true"
        >
        </ngx-timeline>
    </section>
    <section class="contact-me">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3>Contact Me!</h3>
                    <p>If you have any questions, proposals, or just to say hello <span>{{wave}}</span>; </p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1">Name</span>
                        <input type="text" class="form-control"  aria-label="Name">
                    </div>  
                </div>
                <div class="col">
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope-at"></i></span>
                        <input type="text" class="form-control" aria-label="email">
                    </div>                            
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="input-group">
                        <span class="input-group-text">
                            <i class="bi bi-chat-right-text-fill"></i>
                        </span>
                        <textarea class="form-control"></textarea>
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <button type="button" class="btn btn-primary">Primary</button>
                </div>
            </div>
        </div>
    </section>
</div>